
<form class="books-form" action="/books" method="POST">
    <div class="form-control">
        <label for="title"> Book-Title : </label>
        <input type="text" name="title" id="title" placeholder="Book Title">
    </div>
    <div class="form-control">
        <label for="student"> Student Name : </label>
        <input type="text" name="student" id="student" placeholder="Student Name">
    </div>
    
    <div class="form-control">
        <label for="studentId"> Student Roll Number : </label>
        <input type="number" name="studentId" id="studentId" step="1" placeholder="Roll Number">
    </div>
    <button class="form-btn" type="submit"> Submit </button>
</form>
  